@using Lab3.Models
@model List<Jugador>

@{
    ViewBag.Title = "ListarJugadores";
}
<h2>@ViewBag.Titulo</h2>
<table>

    <thead>

        <tr>
            <th>ID</th>
            <th>Nombre y Apellido</th>
            <th>Posición</th>
            <th>Sueldo</th>
        </tr>

    </thead>


    <tbody>

        @foreach (var jugador in Model)
        {
            <tr>
                <td>@jugador.JugadorId</td>
                <td>@jugador.NombreApellidos</td>
                <td>@jugador.Posicion</td>
                <td>@jugador.Sueldo</td>
            </tr>
        }

    </tbody>

</table>

@if (ViewBag.Media != null)
{
    <strong>Media Sueldos: @Convert.ToDecimal(ViewBag.Media) </strong>
}
<strong> Total Sueldos: @ViewBag.Totalsueldos</strong>

